@media screen and (max-width:1170px) {
    .book-container {
        width: 60rem;
    }

    .form {
        width: 30rem;
    }
}

@media screen and (max-width:1000px) {
    .hero-section {
        width: 35rem;
    }

    .hero-heading {
        font-size: 40px;
    }

    .hero-txt {
        font-size: 1rem;
    }

    .hero-form {
        width: 70%;
    }

    .book-container {
        flex-direction: column;
        gap: 3rem;
        width: 40rem;
    }

    .pg-text {
        text-align: center;
    }
}

@media screen and (max-width:830px) {
    .modal-card {
        width: 20rem;
        padding: 2rem;
    }

    .modal-card>h1 {
        font-size: 1.5rem;
    }

    .modal-card>p {
        font-size: 0.8rem;
    }

    .footer {
        font-size: 0.7rem;
    }

    .footer-address {
        width: 12rem;
    }
}

@media screen and (max-width:650px) {
    .logo {
        width: 8rem;
    }

    .call-btn {
        font-size: 0.6rem;
        width: 7rem;
    }

    .modal-card>img {
        width: 5rem;
    }

    .hero-section {
        width: 25rem;
        padding-bottom: 3rem;
    }

    .hero-heading,
    .pg-text>h1 {
        font-size: 32px;
    }

    .hero-txt,
    .pg-text>.pg-paragraph {
        font-size: 0.9rem;
    }

    .txt-blue,
    .txt-purple {
        width: 1.5rem;
        font-size: 0.7rem;
    }

    .txt-white {
        font-size: 0.8rem;
    }

    .book-container,
    .form {
        width: 25rem;
    }

    .footer {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media screen and (max-width:425px) {
    .header {
        padding: 1rem 1rem 2rem 1rem;
    }

    .modal-card {
        width: 14rem;
        padding: 2rem 1.5rem;
    }

    .modal-card>img {
        width: 3rem;
    }

    .logo,
    .call-btn {
        width: 6rem;
    }

    .hero-heading,
    .pg-text>h1 {
        font-size: 20px;
    }

    .hero-form {
        width: 90%;
    }

    .hero-form>#name,
    .hero-form>#email {
        padding: 0.7rem;
    }

    .hero-txt,
    .pg-text>.pg-paragraph {
        font-size: 0.7rem;
    }

    .book-container,
    .form,
    .pg-text,
    .hero-section {
        width: 20rem;
    }

    .pg-img {
        width: 5rem;
    }

    .pg-img>img {
        width: 100%;
    }

    .footer {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 340px) {

    .book-container,
    .form,
    .pg-text,
    .hero-section {
        width: 15rem;
    }

    .form > h3 {
        text-align: center;
    }
}